@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --color-background: beige;
    --color-grid: rgb(182, 182, 163);
    --color-font: rgb(141, 141, 126);
}

.game-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 15px;
}

.game-infos div {
    display: flex;
    gap: 10px;
}

#playerTurn {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

.background-board {
    background-color: var(--color-background);
    padding: 100px;
    margin-top: 50px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px;
    background-color: var(--color-grid);
    width: fit-content;
    margin: auto;
}

.board button {
    width: 125px;
    height: 125px;
    background-color: var(--color-background);
    border: none;
    cursor: pointer;
    font-size: 100px;
    color: var(--color-font);
}